<div id="content" class="full">
	
	<div id="content-container">
	
	<h2>Dashboard</h2>
	<p>Welcome <%= session[:username] %> to <%= CrudStar::Engine.config.application_name %>.</p>
	
	<div id="statistics">
		<h3>Statistics</h3>
		
		<p>Total orders placed: </p>
		
		<h4>Orders (Last 7 days)</h4>
		
		</div>
	</div>
</div>