<tr>
    <%
        list_item.class.list_attributes[session[:role]].each do |attribute| %>

            <td>
				<%=
                    value = get_value(list_item, attribute)

	                if (get_value(list_item, list_item.class.default_attribute) == value) and !list_item.class.resource.nil?
	                    link_to(display_value(list_item, attribute), self.send("#{list_item.class.resource.singularize}_path", list_item))
	                else
	                    display_value(list_item, attribute) || '<em>Undefined</em>'
	                end
                %>
			</td>
    
    <%
        end
    %>
</tr>