<% if controller.model.respond_to?(:list_filters) or controller.model.respond_to?(:search) %>

<div id="list_filters">
	
	<% form_tag send(CrudStar::Utility.path_for_resources(controller.model)), :method => :get do -%>
	
	   <fieldset>
	   	
		 <% if controller.model.respond_to?(:search) %>
           <%= label_tag('search', 'Search') %>
           <%= text_field_tag('search', params[:search], :class => 'large') %>
         <% end %>
		
		 <% if controller.model.respond_to?(:list_filters)
                controller.model.list_filters[session[:role]].each do |filter| %>
		   <p><%= raw display_filter(controller.model.new, filter) %></p>
		 <%   end
            end %>
		 
       </fieldset>
	   
	   <div>
	     <input type="submit" value="Apply Filter" class="button" />    
	   </div>
	
	<% end -%>
    
</div>

<% end %>